<% book.post_comments.each do |post_comment| %>
  <%= link_to attachment_image_tag(post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"),user_path(book.user_id) %>
  <%= post_comment.comment %>
  <% if post_comment.user == current_user %>
  <%= link_to "Destroy", book_post_comment_path(post_comment.book_id, post_comment.id), method: :delete, remote: true, class: 'btn btn-danger' %><br>
  <% end %>
  <%= link_to book.user.name,user_path(book.user_id) %></td>
  <% end %>